{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <body>
        <header>
            <nav>
                <div>
                    <ul id="nav_links">
                        <li id="logo_link">Book Boba<a href="{% url 'menu' %}" aria-label="Go to home page">
                        </a></li>
                        <li class="nav_link"><a href="{% url 'reserve_table' %}" aria-label="Reserve a Table" class="active">Make Reservation</a></li>
                        <li class="nav_link"><a href="{% url 'about' %}" aria-label="Go to about page">About</a></li>
                        <li id="match_link" class="nav_link">
                            <a href="{% url 'contact' %}" aria-label="Contact us">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    
   <h1>History</h1>
   <h4>{{about.name}}</h4>
   <h4>{{about.content}}</h4> 

   <h1>Crew</h1>
   <h4>{{staff_crew.name}}</h4>
   <h4>{{staff_crew.subtitle}}</h4> 
   <h4>{{staff_crew.bio}}</h4> 

</body>
</html>