{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
        rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <title>Home Page</title>
</head>

<body>

    <body>
        <header>
            <div class="container">
                <div class="subcontainer">
                    <nav class="navbar">
                        <a href="{% url 'menu' %}" aria-label="Go to home page" id="logo">Be-Be-Boba</a>

                        <ul class="nav_menu">
                            <li class="nav_item">
                                <a aria-current="page" href="{% url 'menu' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav_item">
                                <a href="{% url 'about' %}" aria-label="Go to about page" class="nav-link">About</a>
                            </li>
                            <li class="nav_item">
                                <a href="{% url 'contact' %}" aria-label="Contact us" class="nav-link">Contact Us</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav_item">
                                <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                            </li>
                            <li>
                                <a href="{% url 'staff' %}" class="nav-link">Edit Menu & Bookings</a>
                            </li>
                            {% else %}
                            <li class="nav_item">
                                <a href="{% url 'account_login' %}" class="nav-link">Staff Login</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="home">

            <div>
                <div id="hero_img">
                    <div id="menu_booking">
                        <div id="menu" class="menu">
                            <h1>Menu</h1>
                            {% for item in menu %}
                            <p id="menu_item">{{item}} <span id="menu_price">{{item.price}} £</span></p>
                            <p><span id="menu_discription">{{item.description}}</span></p>
                            {% endfor %}
                        </div>

                        <div id="reservation" class="reservation_form">
                            <h1>Reserve a Table:</h1>
                            <form action="{% url 'confirmation_page' %}" method="POST" id="reservation_form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" id="submit_reservation">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div id="social_media_links">
                <ul>
                    <li class="social_icon"><a href="https://www.linkedin.com/in/bobo/" target="_blank"
                            aria-label="visit Linkedin page"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="social_icon"><a href="https://github.com/Bo-Lennart" target="_blank"
                            aria-label="visit Github page">
                            <i class="fa-brands fa-github"></i></a></li>
                    <li class="social_icon"><a href="https://www.facebook.com/" target="_blank"
                            aria-label="visit Facebook page">
                            <i class="fa-brands fa-square-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- Import fontawesome icons via script tag -->
        <script src="https://kit.fontawesome.com/9cc43cc6da.js" crossorigin="anonymous"></script>
        <script src="/static/app.js"></script>
    </body>

</html>