{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home Page</title>
</head>
<body>
    <body>
        <header>
            <nav>
                <div>
                    <ul id="nav_links">
                        <li id="logo_link">Book Boba<a href="{% url 'menu' %}" aria-label="Go to home page">
                        </a></li>
                        <li class="nav_link"><a href="{% url 'reserve_table' %}" aria-label="Reserve a Table" class="active">Make Reservation</a></li>
                        <li class="nav_link"><a href="{% url 'about' %}" aria-label="Go to about page">About</a></li>
                        <li id="match_link" class="nav_link">
                            <a href="{% url 'contact' %}" aria-label="Contact us">Contact Us</a>
                        </li>
                        <li>
                            <a aria-current="page" href="{% url 'menu' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'staff' %}">Edit Menu & Bookings</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'account_login' %}">Staff Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

<h1>Boba Menu</h1>

{% for item in menu %}
   <h2>{{item}}</h2>
   <h4>{{item.quantity}}</h4>
   <h4>{{item.price}} £</h4> 
{% endfor %}

<footer>
    <div id="social_media_links">
        <ul>
            <li class="social_icon"><a href="https://www.linkedin.com/in/bobo/" target="_blank"
                    aria-label="visit Linkedin page"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="social_icon"><a href="https://github.com/Bo-Lennart" target="_blank"
                    aria-label="visit Github page">
                    <i class="fa-brands fa-github"></i></a></li>
            <li class="social_icon"><a href="https://www.facebook.com/" target="_blank"
                    aria-label="visit Facebook page">
                    <i class="fa-brands fa-square-facebook"></i></a>
            </li>
        </ul>
    </div>
</footer>

<!-- Import fontawesome icons via script tag -->
<script src="https://kit.fontawesome.com/9cc43cc6da.js" crossorigin="anonymous"></script>
</body>
</html>

