{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Edit Menu</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <ul id="nav_links">
                    <li id="logo">Book Boba<a href="{% url 'menu' %}" aria-label="Go to home page">
                    </a></li>
                    <li class="nav_link"><a href="{% url 'reserve_table' %}" aria-label="Reserve a Table" class="active">Make Reservation</a></li>
                    <li class="nav_link"><a href="{% url 'about' %}" aria-label="Go to about page">About</a></li>
                    <li id="match_link" class="nav_link">
                        <a href="{% url 'contact' %}" aria-label="Contact us">Contact Us</a>
                    </li>
                    <li>
                        <a aria-current="page" href="{% url 'menu' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'staff' %}">Edit Menu & Bookings</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">Staff Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <h1>Update Menu Item:</h1>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>
    </form>
    {% endif %}
</body>
</html>