{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Staff Page</title>
</head>
<body>
    <header>
        <nav>
            <div class="navigation">
                <ul id="nav_links">
                    <li id="logo">Book Boba<a href="{% url 'menu' %}" aria-label="Go to home page">
                    </a></li>
                    <li class="nav_link"><a href="{% url 'reserve_table' %}" aria-label="Reserve a Table" class="active">Make Reservation</a></li>
                    <li class="nav_link"><a href="{% url 'about' %}" aria-label="Go to about page">About</a></li>
                    <li class="nav_link">
                        <a href="{% url 'contact' %}" aria-label="Contact us">Contact Us</a>
                    </li>
                    <li class="nav_link">
                        <a aria-current="page" href="{% url 'menu' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav_link">
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav_link">
                        <a href="{% url 'staff' %}">Edit Menu & Bookings</a>
                    </li>
                    {% else %}
                    <li class="nav_link">
                        <a href="{% url 'account_login' %}">Staff Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <h1>STAFF PAGE</h1>

    {% if user.is_authenticated %}
<h1>Edit Menu:</h1>
{% for item in menu %}
<table>
    <tr>
    <td>{{item}}</td>  
    <td>{{item.quantity}}</td>  
    <td>{{item.price}} £</td>
    <td>
        <a href="/edit/{{ item.id }}">
            <button>Edit</button>
        </a>
    </td>
    <td>
        <a href="/delete/{{ item.id }}">
            <button>Delete Item</button>
        </a>
    </td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'add_menu_item' %}">Add item to menu</a>

<h1>Edit Reservations:</h1>

{% for reservation in reservations %}
   <table>
    <tr>
    <td>Reservation made by: {{reservation.name}}</td>  
    <td>Reserved Date: {{reservation.date}}</td>  
    <td>Number of Guests: {{reservation.number_of_guests}}</td>
    <td>Time: {{reservation.time}}</td>
    <td>
        <a href="/edit_reservation/{{ reservation.id }}">
            <button>Edit</button>
        </a>
    </td>
    <td>
        <a href="/remove/{{ reservation.id }}">
            <button>Delete Reservation</button>
        </a>
    </td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'staff_reserve_table' %}">Make Reservation</a>
{% endif %}

</body>
</html>