{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
</head>
<body>
    <h1>STAFF PAGE</h1>


<h1>Edit Menu:</h1>
{% for item in menu %}
<table>
    <tr>
    <td>{{item}}</td>  
    <td>{{item.quantity}}</td>  
    <td>{{item.price}} £</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'add_menu_item' %}"> Add item to menu</a>

<h1>Edit Reservations:</h1>

{% for reservation in reservations %}
   <table>
    <tr>
    <td>Reservation made by: {{reservation.name}}</td>  
    <td>Reserved Date: {{reservation.date}}</td>  
    <td>Number of Guests: {{reservation.number_of_guests}}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>