<h1>STAFF PAGE</h1>


<h1>Edit Menu:</h1>
{% for item in menu %}
<table>
    <tr>
    <td>{{item}}</td>  
    <td>{{item.quantity}}</td>  
    <td>{{item.price}} £</td>
    </tr>
</table>
{% endfor %}

<h1>Edit Reservations:</h1>

{% for reservation in reservations %}
<table>
    <tr>
    <td>Reservation made by: {{reservation.name}}</td> 
    </tr>
    <tr>
        <td>Reserved Date: {{reservation.date}}</td>  
    </tr>
    <tr>
        <td>Number of Guests: {{reservation.number_of_guests}}</td>
    </tr>
    
</table>
{% endfor %}